<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="cn.hhm.workmybatis.enums.TestTypeEnum" alias="TestTypeEnum"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="cn.hhm.workmybatis.typehandler.MyEnumTypeHandler" javaType="cn.hhm.workmybatis.enums.TestTypeEnum"/>
    </typeHandlers>

</configuration>